google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-genai
spacy
python-dotenv
pandas
matplotlib
seaborn
streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl